#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*

mz8023yt@163.com 20180602 begin >>> [1/2] modify the ignore rules
# don't ignore the .gitignore file
!.gitignore
mz8023yt@163.com 20180602 end   <<< [1/2] modify the ignore rules

*.o
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes

#
# Top-level generic files
#
tags
TAGS
vmlinux*

mz8023yt@163.com 20180602 begin >>> [2/2] modify the ignore rules
# don't ignore the vmlinux.lds* file
!vmlinux.lds.*
mz8023yt@163.com 20180602 end   <<< [2/2] modify the ignore rules

System.map
Module.symvers

#
# Generated include files
#
include/asm
include/asm-*/asm-offsets.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
